.genres {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: 145px;
    visibility: hidden;
    animation-name: fadein;
	animation-delay: 3s;
	animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 1;

    &_genre {
        font-family: var(--sansone);
        font-weight: bold;
        font-size: 18px;
        color: var(--white);
        letter-spacing: 0px;
        padding-left: 15px;
        margin: 5px;
    }
}

.songnamesmodal {
    padding-left: 15px;
    margin: 40px 5px 5px 5px;
}

#modal-button {
    background-color: var(--blue);
    font-family: var(--sansone);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: var(--white);
    border: none;
    letter-spacing: 0px;
    padding: 5px;
    margin: 0;
}

#modal-button:hover {
    background-color:white;
    color: var(--blue);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
