.genretitles {
    font-size: 60px;
    color: var(--blue);
    font-family: var(--main-font);
    position: relative;
    margin: 0;
    letter-spacing: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 60px;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: none;
}

@keyframes slide {
    0% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(0px);
    }
}
