.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0 80px 80px;
	animation-name: uncover;
	visibility: hidden;
	animation-delay: 5s;
	animation-duration: 4s;
	animation-fill-mode: forwards;

	&_item {
		position: relative;
		width: 33.3%;
		opacity: 1;
	}

	&_item:hover {
		position: relative;
		opacity: .6;
	}

	&_image {
		width: 100%;
		height: auto;
	}
}

@keyframes uncover {
	from {
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
