.text {
    font-size: 60px;
    color: var(--red);
    font-family: var(--main-font);
    position: relative;
    margin: 0;
    letter-spacing: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 60px;
}