.text {
    font-size: 120px;
    color: var(--red);
    font-family: var(--main-font);
    position: relative;
    margin: 0;
    letter-spacing: 5px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 60px;
    z-index: 1;
    animation-name: slidein;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes slidein {
    from {
        transform: translateX(-1300px);
    }
    to {
        visibility: visible;
        transform: translateX(0px);
    }
}


